@charset "UTF-8";
.site-section {
	background-color: #222831;
}

.nice-select{
	line-height: 27px;	
}

#searchBtn{
	width: 100px;
}

a:hover {
	color:#FFBE33;
}


.active{
	color: black;
	color:#FFBE33 !important;
}

select {
		margin: 2px;
		width: 33.33%;
		}
	
		a {
			color: white;
			cursor: pointer
		}

.h3{
	color: white;
	text-align: center;
}

label{
	color: white;
}

.layout_padding{
	padding-top: 100px;
	padding-bottom: 0;
}

th, td{
	color: white;
}