<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
	<header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span> K-Restaurant </span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
              	<li class="has-children nav-item top_menu" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                 <a class="top_menu">관리자 메뉴</a>
                  <ul class="dropdown">
                    <li><a href="/admin/menu/new">메뉴등록</a></li>
                    <li><a href="/admin/menus">메뉴관리</a></li> 
                    <li><a href="/admin/menus">예약관리</a></li>                   
                  </ul>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="/">홈<span class="sr-only"></span></a></li>
                <li class="nav-item"><a class="nav-link" href="/menu/list">메뉴</a></li>
                <li class="nav-item"><a class="nav-link" href="/bookPage" sec:authorize="hasAnyAuthority('ROLE_USER')">예약하기</a></li>
                <li class="nav-item"><a class="nav-link" href="/members/login" sec:authorize="isAnonymous()">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
              </ul>
              <div class="user_option">
              	
              	
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true" sec:authorize="isAuthenticated()"></i>
                </a>
                 <a href="book.html" class="order_online" sec:authorize="isAuthenticated()"> 온라인 주문 </a>
              
              </div>
            </div>
          </nav>
        </div>
        <script type="text/javascript"> 
	    </script>
      </header>
</html>