<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/style.css}" rel="stylesheet">
<script th:src="@{js/util.js}"></script>
<th:block layout:fragment="css">

</th:block>
</head>
<body>

	<div layout:fragment="content" class="content"></div>

	<div th:replace="/fragments/footer::footer"></div>

	<th:block layout:fragment="script">
	
	</th:block>
</body>
</html>